
.table-striped tbody tr:nth-child(even) {
  background-image: linear-gradient(to right , white,rgba(28, 186, 235, 0.41)); 
}
.table-striped tbody tr:nth-child(odd) {
  background-image: linear-gradient(to right ,rgba(28, 186, 235, 0.41),white);
}


@media (max-width: 700px) { 
  .myButton{
    padding: 2px 20px !important;
    font-size: 16px !important;
    margin-left: 10px;
  }
  table {
    font-size: 16px;
  }
  .dis-none{
    display:none;
  }
  .card {
    padding: 10px;
  }
 
}
